<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karpatia</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../dist/css/style.css">
</head>
<body>
  <div class="container">
  	<main class="main">

  		<aside class="left-aside">
  			<section class="Profile">
  				<div>
  					<img class="Profile-image" src="../../dist/images/profile.jpeg" width="51" height="51">
  				</div>
  				<div>
  					<p class="Profile-text">Amelia Rice</p>
  					<p class="Profile-text Profile--textFiles">2390 files</p>
  				</div>
  				<div class="Button">
  					<button class="Button-peoplePhoto">UPLOAD</button>
  				</div>
  			</section>
  			<form class="search">
  				<i class="material-icons search-icon">search</i>
			    <input class="search-input" type="search" placeholder="Search files" >
			</form>
			<ul class="nav-categories">CATEGORIES
	            <li><a href="#">Photos</a></li>
	            <li><a href="#">Video</a></li>
	            <li><a href="#">Projects</a></li>
	        </ul>
	        <ul class="nav-albums">ALBUMS
	            <li><a href="#">Subcarpathia 2016</a></li>
	            <li><a href="#">Summer 2015</a></li>
	            <li><a href="#">Aspen 2015</a></li>
	            <li><a href="#">Croatia 2015</a></li>
	        </ul>
	        <section class="sidebar-bottom">
	        	
	        </section>
  		</aside>

  		<section class="main-content">
  			<article class="Photosection">
	  			<article class="Photosection-title">
	  				<div class="Photosection-textSocial">
		  				<p>Subcarpatia 2016</p>
		  				<p class="Photosection-title Photosection-titleNumber">(8 photos)</p>
	  				</div>
	  				<div>
	  					<i class="material-icons social-icon">play_arrow</i>
	  					<i class="material-icons social-icon">share</i>
	  				</div>
	  			</article>
	  			<article class="Photosection-photo">
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia1.jpg"/>
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">25.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia2.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">25.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia3.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">24.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia4.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">23.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia5.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia6.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia7.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<div class="box">
						    <img src="../../dist/images/subcarpatia8.jpg">
						    <span class="caption simple-caption">
						        	<button>edit</button>
						            <button>delete</button>
						    </span>
						</div>
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  			</article>
  			</article>




  			<article class="Photosection">
	  			<article class="Photosection-title Photosection--titleNoIcon">
	  				<p>Summer 2015</p>
	  				<p class="Photosection-title Photosection-titleNumber">(16 photos)</p>
	  			</article>
	  			<article class="Photosection-photo">
	  				<figure>
	  					<img src="../../dist/images/summer1.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/summer2.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/summer3.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/summer4.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia1.jpg">
	  					<figcaption class="Photosection-date">25.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia2.jpg">
	  					<figcaption class="Photosection-date">25.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia3.jpg">
	  					<figcaption class="Photosection-date">24.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia4.jpg">
	  					<figcaption class="Photosection-date">23.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia5.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia6.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia7.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  				<figure>
	  					<img src="../../dist/images/subcarpatia8.jpg">
	  					<figcaption class="Photosection-date">20.02.16</figcaption>
	  				</figure>
	  			</article>
  			</article>



  		</section>
  	</main>
  </div>
</body>
</html>